@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
   --background-color: #FFFFFF;
   --primary-color: #667085;
   --secondary-color: #8E2424;
   --terciary-color: #101828;

   --font-family: 'Inter', sans-serif;

   --font-weight1: 500;
   --font-weight2: 600;

   --font-size1: 1rem;
   --font-size2: 3rem;
   --font-size3: 1.25rem;
   --font-size4: 3.75rem;
   --font-size5: 1.125rem;
}

.body {
    box-sizing: border-box;
    text-decoration: none;
}

.cabecalho {
    display: flex;
    color: var(--primary-color);
    font-weight: var(--font-weight1);
    font-family: var(--font-family);
    justify-content: space-between;
    padding: 1% 8%;
    font-size: var(--font-size1);
    align-items: center;

}

.cabecalho__paginas {
    order: 2;
    display: flex;
    gap: 32px;
}

.cabecalho__cadastro {
    order: 3;
    gap: 12px;
    display: flex;
    align-items: center;
}

.cabecalho__logo {
    order: 1;
}

.cabecalho__cadastro__cadastrar {
    background-color: var(--secondary-color);
    color: var(--background-color);
    border-radius: 8px;
    padding: 10px;
}

.coluna__secao__1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 5% 8%;
    /* border: solid red; */
}

.coluna__secao__1__subtitulo {
    font-family: var(--font-family);
    font-weight: var(--font-weight2);
    font-size: var(--font-size1);
    color: var(--secondary-color);
    /* border: solid red; */
}

.coluna__secao__1__titulo {
    font-family: var(--font-family);
    font-weight: var(--font-weight2);
    font-size: var(--font-size2);
    color: var(--terciary-color);
    /* border: solid red; */
}

.coluna__secao__1__paragrafo {
    text-align: center;
    font-family: var(--font-family);
    color: var(--primary-color);
    font-size: var(--font-size3);
    /* border: solid red; */
    padding: 0 8%;
}

.metricas {
    display: flex;
    justify-content: space-between;
    padding: 0 8% 5%;
    gap: 32px;
    /* border: solid red; */
}

.metricas__container {
    display: flex;
    flex-direction: column;
}

.metricas__titulo {
    font-family: var(--font-family);
    color: var(--secondary-color);
    font-size: var(--font-size4);
    /* border: solid red; */
    width: 17.5rem;
}

.metricas__subtitulo {
    font-family: var(--font-family);
    color: var(--terciary-color);
    font-weight: var(--font-weight1);
    font-size: var(--font-size5);
    /* border: solid red; */
    width: 17.5rem;
    margin: 0.75rem 0 0;
}

.metricas__paragrafo {
   font-family: var(--font-family);
   font-size: var(--font-size1);
   color: var(--primary-color);
   text-align: justify;
   /* border: solid red; */
   width: 17.5rem;
   margin: 0.5rem 0 0;
}