@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
   --background-color: #FFFFFF;
   --primary-color: #667085;
   --secondary-color: #8E2424;
   --terciary-color: #101828;
   --secondary-color-5: hsla(0, 60%, 35%, 0.05);

   --font-family: 'Inter', sans-serif;

   --font-weight1: 500;
   --font-weight2: 600;

   --font-size1: 1rem;
   --font-size2: 3rem;
   --font-size3: 1.25rem;
   --font-size4: 3.75rem;
   --font-size5: 1.125rem;
   --font-size6: 0.875rem;
   --font-size7: 2.25rem;
}

.body {
    box-sizing: border-box;
    text-decoration: none;
}

.cabecalho {
    display: flex;
    color: var(--primary-color);
    font-weight: var(--font-weight1);
    font-family: var(--font-family);
    justify-content: space-between;
    padding: 1% 8%;
    font-size: var(--font-size1);
    align-items: center;

}

.cabecalho__paginas {
    order: 2;
    display: flex;
    gap: 2rem;
}

.cabecalho__cadastro {
    order: 3;
    gap: 0.75rem;
    display: flex;
    align-items: center;
}

.cabecalho__logo {
    order: 1;
}

.cabecalho__cadastro__cadastrar {
    background-color: var(--secondary-color);
    color: var(--background-color);
    border-radius: 0.5rem;
    padding: 0.625rem;
}

.coluna__secao__1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 5% 8%;
    /* border: solid red; */
}

.coluna__secao__1__subtitulo {
    font-family: var(--font-family);
    font-weight: var(--font-weight2);
    font-size: var(--font-size1);
    color: var(--secondary-color);
    /* border: solid red; */
}

.coluna__secao__1__titulo {
    font-family: var(--font-family);
    font-weight: var(--font-weight2);
    font-size: var(--font-size2);
    color: var(--terciary-color);
    /* border: solid red; */
}

.coluna__secao__1__paragrafo {
    text-align: center;
    font-family: var(--font-family);
    color: var(--primary-color);
    font-size: var(--font-size3);
    /* border: solid red; */
    padding: 0 8%;
}

.metricas {
    display: flex;
    justify-content: space-between;
    padding: 0 8% 5%;
    gap: 2rem;
    font-family: var(--font-family);
    /* border: solid red; */
}

.metricas__container {
    display: flex;
    flex-direction: column;
}

.metricas__titulo {
    /* font-family: var(--font-family); */
    color: var(--secondary-color);
    font-size: var(--font-size4);
    /* border: solid red; */
    width: 17.5rem;
}

.metricas__subtitulo {
    /* font-family: var(--font-family); */
    color: var(--terciary-color);
    font-weight: var(--font-weight1);
    font-size: var(--font-size5);
    /* border: solid red; */
    width: 17.5rem;
    margin: 0.75rem 0 0;
}

.metricas__paragrafo {
   /* font-family: var(--font-family); */
   font-size: var(--font-size1);
   color: var(--primary-color);
   text-align: justify;
   /* border: solid red; */
   width: 17.5rem;
   margin: 0.5rem 0 0;
}

.temos_vagas{
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.temos_vagas__titulo {
    color: var(--secondary-color);
    font-size: var(--font-size6);
    font-weight: var(--font-weight1);
    display: flex;
    align-self: center;
    background-color: var(--secondary-color-5);
    border-radius: 1rem;
}

.temos_vagas__subtitlo {
    display: flex;
    align-self: center;
    color: var(--terciary-color);
    font-weight: var(--font-weight2);
    font-size: var(--font-size7);
    margin: 1rem 0 0;
}

.temos_vagas__paragrafo {
    display: flex;
    align-self: center;
    color: var(--primary-color);
    font-size: var(--font-size3);
    margin: 1.25rem 0 4rem;
}

.vagas__abertas {
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 6% 20% 10%;
}

.vagas__abertas__titulo {
    font-size: var(--font-size3);
    color: var(--terciary-color);
    font-weight: var(--font-weight1); 
    margin: 0 0 6%;
}

.vagas__abertas__descricao{
    color: var(--terciary-color);
    font-size: var(--font-size3);
    font-weight: var(--font-weight1);
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.vagas__abertas__caracteristicas {
    color: var(--primary-color);
    font-size: var(--font-size1);
    font-weight: var(--font-weight1);
    display: flex;
    gap: 1.5rem;
}

.vagas__abertas__titulo__software {
    padding: 6% 0 6%;
    /* border: solid red; */
    font-size: var(--font-size3);
    color: var(--terciary-color);
    font-weight: var(--font-weight1);
}

.colaboradores {
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    gap: 0;
}

.colaboradores {
    padding: 6% 0 20%;
    /* border: solid red; */
}

.colaboradores__titulo {
    font-size: var(--font-size6);
    color: var(--secondary-color);
    font-weight: var(--font-weight2);
    text-align: center;
    margin: 0 0 4%;
    /* border: solid red; */
}

.colaboradores__subtitulo {
    font-size: var(--font-size7);
    color: var(--terciary-color);
    font-weight: var(--font-weight1);
    text-align: center;
    margin: 0 0 8%;
    /* border: solid red; */
}

.colaboradores__imagem{
    width: 5%;
    display: flex;
    align-self: center;
    margin: 0 0 4%;
}

.colaboradores__nome {
    font-size: var(--font-size1);
    font-weight: var(--font-weight1);
    color: var(--terciary-color);
    text-align: center;
    margin: 0 0 1%;
    /* border: solid red; */
}

.colaboradores__funcao {
    font-size: var(--font-size6);
    color: var(--primary-color);
    text-align: center;
    margin: 0;
    /* border: solid red; */
}
